<% if current_user %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="badge rounded-pill bg-danger">
        <%= @unread.count >= 9 ? "9+" : @unread.count %> <i class="bi bi-suit-heart-fill"></i>
      </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
      <% if @unread.any? %>
        <li>
          <p class="text-center">Unread</p>
        </li>
        <% @unread.each do |notification| %>
          <%= render 'layouts/notification', notification: notification %>
        <% end %>
      <% end %>
      <% if @read.any? %>
        <% if @unread.any? %>
          <li>
            <hr class="dropdown-divider">
          </li>
        <% end %>
        <li>
          <p class="text-center">Read</p>
        </li>
        <% @read.each do |notification| %>
          <%= render 'layouts/notification', notification: notification %>
        <% end %>
      <% end %>
      <% if @read.empty? && @unread.empty? %>
        <li class="dropdown-item">
          No notifications yet.
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
